header{
    display: flex;
}

.cabecalho{
    align-items: center;
    display: flex;
    justify-content: baseline;
    padding: 3rem;
}

.cabecalho__logo{
    display: none;
}

.cabecalho__icones{
    padding-right: 3rem;
}

@media (min-width: 768px) and (orientation: portrait){
    .cabecalho__logo{
        display: initial;
        padding-right: 3rem;
    }
}


@media (min-width: 1024px){
    .cabecalho{
        padding-left: 8rem;
    }

    .cabecalho__logo{
        display: initial;
        padding-right: 3rem;
    }
}